<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    <link rel="stylesheet" href="../public/css/payment.css">
</head>
<body>
    <%- include("./header", { showRecordDiv: true, isAdmin: isAdmin }); %>

    <main>
        <h2>ההזמנה בוצעה בהצלחה</h2>
        <p> פרטי ההזמה שלך:</p>

        <h3>Order Details</h3>
        <p><strong>תאריך הזמנה:</strong> <%= orderSummary.orderDate %></p>
        <p><strong>שם משתמש:</strong> <%= orderSummary.username %></p>

        <h3>פריטים</h3>
        <ul>
            <% orderSummary.items.forEach(item => { %>
                <li><span>
                    <%= item.name %> - Quantity: <%= item.quantity %>
                </span></li>
            <% }) %>
        </ul>

        <h3> סך ההזמנה: <%= totalAmount %>₪ </h3>     
    </main>
</body>
</html>
