<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="../public/css/products.css" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>

<body>
    <%- include("./header"); -%>
    <main>
        <div id="select">
            <select name="orderby" id="sort" onchange="changeSortBy(this)">סינון לפי:
              <option value="default">מיין לפי</option>
              <option value="date">חדש ביותר</option>
              <option value="price-low-to-high">מחיר, מהנמוך לגבוה</option>
              <option value="price-high-to-low">מחיר, מהגבוה לנמוך</option>
            </select>
            <div>
                <label for="genre">סינון ז'אנר:</label>
                <select name="genre" id="genre" onchange="changeGenre(this.value)">
                    <option value="all">כל הז'אנרים</option>
                    <%for (let i = 0; i < genres.length; i++) {%>
                    <option value="<%=genres[i]%>"><%=genres[i]%></option>
                    <%}%>
                </select>
            </div>
        </div>
    
        <div id="products">
            <%for (let i = 0; i < products.length; i++) {%>
                <div class="product" onclick="showProduct(this)" id=<%=products[i].id%>>
                    <div class="img-wrapper">
                        <img class="image" src="../public/images/record-logo.jpg"></img>
                    </div>
                        <p class="artist"><%=products[i].artist%></p>
                        <p class="name"><%=products[i].name%></p>
                    <p class="price"><%=products[i].price%>₪</p>
                </div>     
            <%}%>  
            </div>
    </main>
    <%- include("./footer"); -%>
</body>
<script src="../public/scripts/sortProducts.js"></script>
<script src="../public/scripts/products.js"></script>
</html>