<!DOCTYPE html>
<html lang="en-US">
<link rel="stylesheet" href="../public/css/product.css" type="text/css">
<body>
    <%- include("./header",{showAdminDiv: true, showRecordDiv: true,showSideDiv: true}); -%>
    <main>
        <div class="img">
            <img id="image" src="<%=product.image%>"></img>
        </div>
        <div id="info-section">
            <div id="info">
                <p class="artist"><%=product.artist%></p>
                <p class="name"><%=product.name%></p>
                <p class="name">שנת הוצאה:<%=product.year%></p>
            </div>
            <div id="add-to-cart">
                <input type="number" id="quantity" min="1" max="10" placeholder="1" oninput="validity.valid||(value='');">
                <button>הוספה לסל</button>
            </div>
            <section>
                <hr><p>תיאור:</p><hr>
                <p class="description"><%=product.description%></p>
            </section>

        </div>
        
        <!-- <img id="image" src="../public/images/record-logo.jpg"></img> -->
    </main>
    <%- include("./footer"); -%>
</body>
<script src="../public/scripts/product.js"></script>
</html>