<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%- include("./header",{showRecordDiv: true}); -%>

    <div id="users">
        <%for (let i = 0; i < users.length; i++) {%>
            <li>
            <div class="users" id=<%=users[i]._id%>>
                <p class="username"><%=users[i].username%></p>
                <div id="update-user-container">
                    <button class="fa fa-trash update-user" id="delete-user" product-id=<%=users[i]._id%>></button>
                    <button class="fa fa-pencil update-user" id="edit-user" aria-hidden="true" product-id=<%=users[i]._id%>></button>
                </div>
            </div>  
            </li>  
        <%}%>  
        <script type="test/html" id="productTemplate">
            <%for (let i = 0; i < users.length; i++) {%>
                <li>
                <div class="users" id=<%=users[i]._id%>>
                    <p class="username"><%=products[i].username%></p>
                    <div id="update-user-container">
                        <button class="fa fa-trash update-user" id="delete-user" product-id=<%=users[i]._id%>></button>
                        <button class="fa fa-pencil update-user" id="edit-user" aria-hidden="true" product-id=<%=users[i]._id%>></button>
                    </div>
                </div>  
                </li>  
            <%}%>  
        </script>  
        </div>
</div>
<%- include("./footer"); -%>

</body>
<script src="../public/scripts/user.js"></script>

</html>